
body {
    background-color: aliceblue;
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 50px;
}

p1 {
    font-size: 25px;
    font-weight: 700;
}

